@import url(//fonts.googleapis.com/css?family=Baloo);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700);

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Baloo', cursive;
  font-weight: normal;
  margin: 20px 0 30px 0;
}

.remark-code, .remark-inline-code {
  font-family: 'Roboto Mono', monospace;
}

.remark-code {
  font-size: 22px;
}

.remark-slide-content {
  font-size: 28px;
  padding: 1em 2.5em 1em 2.5em
}

.spaced li {
  margin-top: 1rem;
}

.spaced li li {
  margin-top: 0.5rem;
}

.tight li {
  margin-top: 0.5rem;
}

.tight li li {
  margin-top: 0.2rem;
}

.code18 .remark-code {
  font-size: 18px;
}

hr {
  border: 0;
  border-bottom: 3px solid #777;
  margin: 40px 0;
}


.inverse {
  background-size: 120px 50px;
  background-position: 97% 3%;
}

.inverse .remark-code, .inverse .remark-inline-code {
  color: #489963;
}
  
@media only screen {
  .inverse {
    background-color: #272822;
    color: #eaeaea;
    text-shadow: 0 0 20px #333;
  }
  
  .inverse h1, .inverse h2 {
    color: #f3f3f3;
    line-height: 1.0em;
  }
  
  a, a > code {
    color: rgb(249, 38, 114);
    text-decoration: none;
  }
}
