<div class="projects">
  <div id="projects">
    <h2>Our Projects</h2>
  </div>
  <div class="project-cards">
    <md-card v-for="p in projects" :key="p.title">
      <md-card-media>
        <md-icon class="md-size-3x md-accent">{{ p.icon }}</md-icon>
      </md-card-media>
    
      <md-card-header>
        <div class="md-title">{{ p.title }}</div>
        <div class="md-subhead">{{ p.subtitle }}</div>
      </md-card-header>
    
      <md-card-content>
        {{ p.desc }}
      </md-card-content>
      
      <md-card-actions>
        <md-button v-if="p.github" class="md-raised" :href="p.url" target="_blank">
          Github <md-icon>code</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" :href="p.url" target="_blank">
          Open App <md-icon>open_in_new</md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>